/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: url("http://wallpapercave.com/wp/MG7Zzam.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.house {
  display: inline-block;
  background: #81A4CD;
  width: 30%;
  border-radius: 10px;
  text-align: center;
  margin-left: 1em;
  margin-top: 1em;
}

.banner {
  width: 60%;
}

.links {
  text-decoration: none;
}

body {
  font-family: 'Cinzel Decorative', cursive;
}

.header {
  text-align: center;
  font-weight: bold;

}

.houseShow {
  display: block;
  width: 80%;
  background-color: #C0D7BB;
  text-align: center;
  margin-top: 3em;
  margin: 0 auto;
  border-radius: 10px;
}

.addCharacter {
  display: block;
  width: 60%;
  background-color: #C0D7BB;
  text-align: center;
  border-radius: 10px;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
